<section class="content-header">
    <h1>
        Charts
        <small>Oesterdam / Berghse Diepsluis</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Charts</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div id="chartTemp" style="width:100%; height:400px;"></div>
    <br />
    <br />
    <br />
    <div id="chartViz" style="width:100%; height:400px;"></div>
    <br />
    <br />
    <br />
    <div id="chartAverageTemp" style="width:100%; height:400px;"></div>
    <br />
    <br />
    <br />
    <div id="chartAverageViz" style="width:100%; height:400px;"></div>
    <script type="text/javascript" src="scripts/chartsOesterdam.js"></script>
</section>
