﻿<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <title>Project Baseline Belgium | Dashboard</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- build:css css/pb-dashboard.css -->
        <link href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet" type="text/css" />
        <link href="bower_components/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet" type="text/css" />
        <link href="bower_components/angular-dialog-service/dist/dialogs.min.css" rel="stylesheet" type="text/css" />
        <link href="bower_components/angularjs-toaster/toaster.css" rel="stylesheet" type="text/css" />
        <link href="styles/AdminLTE.css" rel="stylesheet" type="text/css" />
        <link href="styles/main.css" rel="stylesheet" type="text/css" />
        <!-- endbuild -->
    </head>
<body class="skin-blue" ng-app="app" ng-cloak>
    <!-- header logo: style can be found in header.less -->
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
    <header class="header" ng-controller="headerController">
        <a href="index.html" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            Project Baseline BE
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- language select -->
                    <li class="dropdown user user-menu" dropdown on-toggle="toggled(open)">
                        <a href=" #" class="dropdown-toggle" dropdown-toggle>
                            <i class="glyphicon glyphicon-globe"></i>
                            {{language}}
                            <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu drop-down-language">
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <button ng-click="setLanguage('en')" class="btn btn-default btn-flat">English</button>
                                    <button ng-click="setLanguage('nl')" class="btn btn-default btn-flat">Nederlands</button>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- user -->
                    <li ng-if="!identity.isAuthenticated()">
                        <a ng-click="login()" translate>Sign-in</a>
                    </li>
                    <li class="dropdown user user-menu" dropdown on-toggle="toggled(open)" ng-if="identity.isAuthenticated()">
                        <a href=" #" class="dropdown-toggle" dropdown-toggle>
                            <i class="glyphicon glyphicon-user"></i>
                            <span>{{identity.name}}<i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header bg-light-blue">
                                <img ng-src="{{identity.picture}}" class="img-circle" alt="User Image" />
                                <p>
                                    {{identity.name}}
                                    <!-- <small>Member since Nov. 2012</small> -->
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a ng-click="logout()" class="btn btn-default btn-flat" translate>Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas" ng-controller="navController">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel" ng-if="identity.isAuthenticated()">
                    <div class="pull-left image">
                        <img ng-src="{{identity.picture}}" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p translate>Hello, {{identity.givenName}}</p>
                    </div>
                </div>
                <!-- sidebar menu: -->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a href="/">
                            <i class="fa fa-dashboard"></i> <span translate>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/samples">
                            <i class="ion ion-beaker"></i> <span translate>Measurements</span>
                        </a>
                    </li>
                    <li>
                        <a href="/species-inventory">
                            <i class="ion ion-bug"></i> <span translate>Species Inventory</span> 
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="">
                            <i class="fa fa-bar-chart-o"></i>
                            <span translate>Charts</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/charts-muisbroek"><i class="fa fa-angle-double-right"></i> Muisbroek</a></li>
                            <li><a href="/charts-oesterdam"><i class="fa fa-angle-double-right"></i> Oesterdam</a></li>
                        </ul>
                    </li>
                    <li ng-if="identity.isInRole('admin')">
                        <a href="/users">
                            <i class="fa fa-users"></i> <span translate>Users</span>
                        </a>
                    </li>
                    <li ng-if="identity.isAuthenticated()">
                        <a href="" ng-click="logout()">
                            <i class="fa fa-user"></i> <span translate>Sign-out</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side" ng-view autoscroll></aside>
    </div><!-- ./wrapper -->
    <!-- build:js scripts/pb-vendor.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.min.js"></script>
    <script src="bower_components/restangular/dist/restangular.min.js"></script>
    <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script src="bower_components/auth0.js/build/auth0.min.js"></script>
    <script src="bower_components/auth0-lock/build/auth0-lock.min.js"></script>
    <script src="bower_components/auth0-angular/build/auth0-angular.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="bower_components/angular-dialog-service/dist/dialogs.min.js"></script>
    <script src="bower_components/angularjs-toaster/toaster.js"></script>
    <script src="bower_components/angular-gettext/dist/angular-gettext.min.js"></script>

    <!-- endbuild -->
    <!-- build:js scripts/pb-highcharts.js -->
    <script src="bower_components/highcharts-release/highcharts.js"></script>
    <script src="bower_components/highcharts-release/highcharts-more.js"></script>
    <script src="bower_components/highcharts-release/modules/exporting.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/pb-dashboard.js -->
    <script src="app.js"></script>
    <script src="scripts/nl.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/directives.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/security.js"></script>
    <script src="scripts/theme.js"></script>
    <!-- endbuild -->
</body>
</html>
