<section class="content-header">
    <h1 translate>
        Edit or update measurement
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/samples" translate>Measurements</a></li>
        <li class="active" translate>Edit</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-8">
            <div class="box box-primary">
                <form role="form">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="inputWho" translate>Who</label>
                            <select class="form-control" id="inputWho" ng-model="who" ng-options="user.nickName as user.nickName for user in users"></select>
                        </div>

                        <div class="form-group">
                            <label for="inputRegio" translate>Where</label>
                            <select class="form-control" id="inputRegio" ng-model="place" ng-options="regio.name as regio.alias for regio in regios"></select>
                        </div>

                        <div class="form-group">

                            <label translate>Date</label>
                            <div class="dropdown">
                                <a class="dropdown-toggle" role="button" id="dropdown2" data-toggle="dropdown" data-target="#" href="">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-ng-model="sample.dateTime" date-format="dd MMM yyyy - HH:mm">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <div class="dropdown-menu" id="date" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="sample.dateTime" data-datetimepicker-config="{ minuteStep:15, dropdownSelector: '#dropdown2' }" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate>3 meter</label><span> ({{'Visiblity' | translate}} / {{'Temp' | translate}})</span>
                            <div class="">
                                <input type="text" class="form-control" placeholder="{{'Visiblity' | translate}}" ng-model="sample.viz3m">
                                <input type="text" class="form-control form-control-second" placeholder="{{'Temp' | translate}}" ng-model="sample.temp3m">
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate>6 meter</label><span> ({{'Visiblity' | translate}} / {{'Temp' | translate}})</span>
                            <div class="">
                                <input type="text" class="form-control" placeholder="{{'Visiblity' | translate}}" ng-model="sample.viz6m">
                                <input type="text" class="form-control form-control-second" placeholder="{{'Temp' | translate}}" ng-model="sample.temp6m">
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate>9 meter</label><span> ({{'Visiblity' | translate}} / {{'Temp' | translate}})</span>
                            <div class="">
                                <input type="text" class="form-control" placeholder="{{'Visiblity' | translate}}" ng-model="sample.viz9m">
                                <input type="text" class="form-control form-control-second" placeholder="{{'Temp' | translate}}" ng-model="sample.temp9m">
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate>12 meter</label><span> ({{'Visiblity' | translate}} / {{'Temp' | translate}})</span>
                            <div class="">
                                <input type="text" class="form-control" placeholder="{{'Visiblity' | translate}}" ng-model="sample.viz12m">
                                <input type="text" class="form-control form-control-second" placeholder="{{'Temp' | translate}}" ng-model="sample.temp12m">
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate>15 meter</label><span> ({{'Visiblity' | translate}} / {{'Temp' | translate}})</span>
                            <div class="">
                                <input type="text" class="form-control" placeholder="{{'Visiblity' | translate}}" ng-model="sample.viz15m">
                                <input type="text" class="form-control form-control-second" placeholder="{{'Temp' | translate}}" ng-model="sample.temp15m">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label translate>Air Temperature</label>
                            <input type="text" class="form-control" ng-model="sample.tempAir" placeholder="{{'Temp' | translate}}">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="submit()" translate>Submit</button>
                        <a href="/samples" class="btn btn-default" role="button" translate>Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
