<section class="content-header">
    <h1>
        <span translate>Measurements</span>
        <!--<small>Control panel</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active" translate>Measurements</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div ng-if="identity.isAuthenticated()">
        <p translate>Add your measurements here</p>
        <button class="btn btn-primaryactive"
                ng-if="identity.isAuthenticated() && identity.isInRole('publisher')"
                ng-click="addnew()"
                translate>
            Add New
        </button>
        <alert class="alert" ng-show="identity.isAuthenticated() && !identity.isInRole('publisher')">
            <span translate>You need to have publish rights to add measurements.<br>Please contact</span><a href="mailto:peter.cosemans@gmail.com">peter.cosemans@gmail.com</a><span translate> to request more rights.</span>
        </alert>
    </div>
    <br />
    <div ng-if="!identity.isAuthenticated()">
        <p translate>You can find all sample measurements here.</p>
    </div>
    <table class="table table-striped table-condensed">
        <tr>
            <th class="col-md-2 hidden-xs" translate>Date</th>
            <th class="col-md-2 visible-xs" translate>Date</th>
            <th class="col-md-2 hidden-xs" translate>Place</th>
            <th class="col-md-1 hidden-xs" translate>Who</th>
            <th class="col-md-1 hidden-xs" translate>Air</th>
            <th class="col-md-1">3m</th>
            <th class="col-md-1">6m</th>
            <th class="col-md-1">9m</th>
            <th class="col-md-1">12m</th>
            <th class="col-md-1">15m</th>
            <th class="col-md-1 hidden-xs"></th>
        </tr>
        <tr ng-repeat="item in measurements | orderBy:'-dateTime'">
            <td class="col-md-2 hidden-xs">
                <a ng-if="identity.isInRole('publisher')" ng-href="sample-edit/{{item.id}}">{{item.dateTime | date:'dd-MMM-yyyy HH:mm'}}</a>
                <span ng-if="!identity.isInRole('publisher')">{{item.dateTime | date:'dd-MMM-yyyy HH:mm'}}</span>
            </td>
            <td class="col-md-2 visible-xs">
                <a ng-if="identity.isInRole('publisher')" ng-href="sample-edit/{{item.id}}">{{item.dateTime | date:'dd-MM-yy HHu'}}</a>
                <span ng-if="!identity.isInRole('publisher')">{{item.dateTime | date:'dd-MM-yy HHu'}}</span>
            </td>
            <td class="col-md-2 hidden-xs">{{item.place}} - {{item.zone}}</td>
            <td class="col-md-1 hidden-xs">{{item.who}}</td>
            <td class="col-md-1 hidden-xs">{{item.tempAir | temp}}</td>
            <td class="col-md-1">{{item.viz3m | meter}}<br>{{item.temp3m | temp}}</td>
            <td class="col-md-1">{{item.viz6m | meter}}<br>{{item.temp6m | temp}}</td>
            <td class="col-md-1">{{item.viz9m | meter}}<br>{{item.temp9m | temp}}</td>
            <td class="col-md-1">{{item.viz12m | meter }}<br>{{item.temp12m | temp}}</td>
            <td class="col-md-1">{{item.viz15m | meter}}<br>{{item.temp15m | temp}}</td>
            <td class="col-md-1 hidden-xs"><a ng-click="deleteItem(item)" ng-if="identity.isInRole('admin')" translate>Delete</a></td>
        </tr>
    </table>

</section>
