<section class="content-header">
    <h1>
        <span translate>Users</span>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active" translate>Users</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <table class="table table-striped table-condensed">
        <tr>
            <th translate>Id</th>
            <th translate>Name</th>
            <th translate>Email</th>
            <th translate>Nick Name</th>
            <th translate>Roles</th>
        </tr>
        <tr ng-repeat="user in users | orderBy:'role'">
            <td>{{::user.id}}</td>
            <td>{{::user.name}}</td>
            <td>{{::user.email}}</td>
            <td>{{::user.nickName}}</td>
            <td>{{::user.role}}</td>
        </tr>
    </table>
</section>
