.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.form-inline .form-group{
    margin-left: 0;
    margin-right: 10px;
}

.row {
    margin-left: 0;
    margin-top: 10px;
}

.my-label {
    margin-top: 15px;
    text-align: right;
}

.form-control-second {
  margin-top: 5px;  
}

.form-control-select2 {
    border: none;
    padding: 0;
}

#loading-bar .bar {
  transition: width 350ms;

  background: white;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 20px;
  left: 7px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  white;
  border-left-color: white;
  border-radius: 10px;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

.row-species {
    border-bottom: 1px solid #ccc;
    margin: 10px;
}

.row-species img {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    margin-left: 5px;
}

.row-species .form-control {
    margin: 5px;
}

.row-species i {
    margin-top: 7px;
    color: darkred;
    cursor: pointer;
}

.navbar-nav > .user-menu > .drop-down-language {
    width: 190px
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #3c8dbc; }
	.dialog-header-error span, .dialog-header-error h4,
	.dialog-header-wait span, .dialog-header-wait h4,
	.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }